.red {
    
    width: 300px;
    height: 300px;
    background: red;
}

.purple {
    
    position: relative;
    top: 70px;
    left: 70px;
    width: 150px;
    height: 150px;
    background: purple;

}

.yellow {
    
    width: 70px;
    height: 70px;
    background: yellow;

}


.blue {
   
    position: relative;
    top: 320pxs; 
    width: 300px;
    height: 300px;
    background: blue;
}

.black {
    
    width: 70px;
    height: 70px;
    background: black;

}

.green {
    
    position: relative;
    top: 70px;
    left: 70px;
    width: 150px;
    height: 150px;
    background: green;

}

